<div class="header">
  <div class="wrapper">
    <div class="row-1">
      <div class="logo"><img src="/templates/images/logo.jpg" /></div>
      <div class="search-bar">
        <div class="global-search-input">
          <div class="pos-abs"><span class="select">职位</span>
            <input type="text"  class="keyword" name="keyword" id="keyword" />
            <div class="downselect">
              <ul>
                <li>职位</li>
                <li>简历</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="global-btn">
          <input  class="btn-search" type="submit" value="" />
          高级搜索</div>
        <div class="icon-nav"><a href="#"><img src="/templates/images/email.jpg" /></a><a href="#"><img src="/templates/images/flag.jpg" /></a><a href="#"><img src="/templates/images/user.jpg" /></a><a href="#"><img src="/templates/user2.jpg" /></a></div>
      </div>
    </div>
    <div class="row-2">
      <div class="main-nav"> <a href="#">首页</a> <a href="#">求职</a> <a href="#">招聘</a> <a href="#">校园招聘专区</a> <a href="#">项目中介专区</a> <a href="#">学术研究专区</a> <a href="#">软件工程专区</a><span class="tips"><a href="#">小贴士</a></span></div>
    </div>
  </div>
</div>
