<div class="header">
  <div class="wrapper">
    <div class="row-1">
      <div class="logo"><img src="/templates/images/logo.jpg" /></div>
      <div class="search-bar">
        <div class="global-search-input">
          <div class="pos-abs"><span class="select">职位</span>
            <input type="text"  class="keyword" name="keyword" id="keyword" />
            <div class="downselect">
              <ul>
                <li>职位</li>
                <li>简历</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="global-btn">
          <input  class="btn-search" type="submit" value="" />
          高级搜索</div>
        <div class="icon-nav"><a href="#"><img src="/templates/images/email.jpg" /></a><a href="#"><img src="/templates/images/flag.jpg" /></a><a href="#"><img src="/templates/images/user.jpg" /></a><a href="#"><img src="/templates/user2.jpg" /></a></div>
      </div>
    </div>
    <div class="row-2">
      <div class="main-nav"> <a href="index.php">MyJobs</a> <a href="job.php">职位管理</a> <a href="project.php">项目管理</a> <a href="management.php">简历管理</a> <a href="account.php">账户管理</a> </div>
    </div>
  </div>
</div>
"