<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业中心-<{$webtitle}></title>
<meta name="keywords" content="<{$webkeywords}>" />
<meta name="description" content="<{$webdesp}>" />
<meta name="Copyright" content="<{$copyright}>" />
<meta name="author" content="<{$author}>" />
<link href="/templates/css/globalLayout.css"  rel="stylesheet" type="text/css" />
<link href="/templates/css/globalStyle.css" rel="stylesheet" type="text/css" />
<link href="/templates/css/popselect.css" rel="stylesheet" type="text/css" />
<link href="/templates/css/company.css" rel="stylesheet" type="text/css" />
<script language="javaScript" type="text/javascript" src="/templates/scripts/jquery.js"></script>
<script language="javaScript" type="text/javascript" src="/templates/scripts/globalsearch.js"></script>
<meta content="all" name="robots" />
</head>
<body>
<!--头部开始-->
<{include file="header.html" name="header"}>
<!--头部结束-->
<div class="wrapper clearfix">
  <div class="menu-nav"><a href="index.php">MyEtherJobs</a><span class="line"></span><a href="job.php">职位管理</a> <span class="line"></span><a href="project.php">项目管理</a> <span class="line"></span><a href="management.php">简历管理</a><span class="line"></span> <a href="account.php">账户管理111</a></div>
  <!--  左右布局开始-->
  <div class="left-container">
    <div class="baseinfo clearfix">
      <div  class="companylogo"><img src="/templates/images/qiyelogo.jpg" /></div>
      <div class="list-info">
        <table>
          <tr>
            <td colspan="2"  class="companyname">绍兴极限子软件有限公司kljkljkl</td>
          </tr>
          <tr>
            <td class="a">行业</td>
            <td class="nowaddr" >计算机软件 IT服务</td>
          </tr>
          <tr>
            <td class="a">企业性质：</td>
            <td  class="address">民营</td>
          </tr>
          <tr>
            <td class="a">所在地:</td>
            <td class="tel">上海</td>
          </tr>
          <tr>
            <td class="a">网址：</td>
            <td class="email">http://www.limiton.cn</td>
          </tr>
          <tr>
            <td></td>
            <td ><a href="#" class="btn-edit"></a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="base-content">
      <div class="list-tit tit-1"></div>
      <table class="layout-company-tips">
        <tr>
          <td>正在发布职位:<span class="num">126</span>个</td>
          <td>正在发布项目：<span class="num">126</span>个</td>
          <td>共收到简历：<span class="num">126</span>份</td>
        </tr>
        <tr>
          <td><a href="#" class="btn-addpost"></a></td>
          <td><a href="#"  class="btn-addproject"></a></td>
          <td><a href="#"  class="btn-viewresume"></a></td>
        </tr>
      </table>
      <div class="list-tit tit-1">最新投递</div>
      <table class="list-record">
        <thead>
          <tr>
            <th>姓名</th>
            <th>应聘职位</th>
            <th>学历</th>
            <th>工作经验</th>
            <th>投递日期</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sub-col">
    <div class="sub-content clearfix">
      <div class="sub-tit">我的资料</div>
      <table class="ziliao-complete">
        <tr>
          <td>资料完整度:</td>
          <td><img src="/templates/images/rezumeline.jpg" /></td>
          <td>10%</td>
        </tr>
        <tr>
          <td colspan="3" class="txt-center"><span class="go">马上完善我的资料</span></td>
        </tr>
      </table>
      <br />
      <!--应聘人才分布-->
      <div class="sub-tit">应聘人才分布</div>
      <img src="/templates/images/rencai.jpg" />
      <div class="sub-tit">我关注的求职者</div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="/templates/images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!--版权开始-->
<{include file="footer.html" name="footer"}>
<!--版权结束-->
</body>
</html>
