<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>岗位管理-<{$webtitle}></title>
<meta name="keywords" content="<{$webkeywords}>" />
<meta name="description" content="<{$webdesp}>" />
<meta name="Copyright" content="<{$copyright}>" />
<meta name="author" content="<{$author}>" />
<link href="/templates/css/globalLayout.css"  rel="stylesheet" type="text/css" />
<link href="/templates/css/globalStyle.css" rel="stylesheet" type="text/css" />
<link href="/templates/css/pager.css" rel="stylesheet" type="text/css" />
<link href="/templates/css/company.css" rel="stylesheet" type="text/css" />
<script language="javaScript" type="text/javascript" src="/templates/scripts/jquery.js"></script>
<script language="javaScript" type="text/javascript" src="/templates/scripts/globalsearch.js"></script>
<script language="javaScript" src="/templates/scripts/config_arr.js" type="text/javascript"></script>
<script language="javaScript" src="/templates/scripts/com-management.js" type="text/javascript"></script>
<meta content="all" name="robots" />
</head>
<body>
<!--头部开始-->
<{include file="header2.html" name="header2"}>
<!--头部结束-->
<div class="wrapper">岗位管理列表<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> </div>
<!--版权开始-->
<{include file="footer.html" name="footer"}>
<!--版权结束-->
</body>
</html>
