<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){

	$('tbody').find('tr').hover(function(){
		//$(this).css('background','#ccc');
	},function(){
		//$(this).css('background','none');
	});
	$('#show_list').find('tr').hover(function(){
		$(this).find('td').css('background','#ccffcc');
	},function(){
		$(this).find('td').css('background','');
	});
});

function all_sl(str){
		$ck=$('#'+str).attr('checked');
		if($ck){
			$('td#'+str).find('input').attr('checked','checked');
		}else{
			$('td#'+str).find('input').attr('checked','');
		}
	}

</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="#">数据备份</a></h2></div>
  <div class="backup">
 
 </div>
</div><!--导航-->

<div class="div_out" id="tb" style="margin-top:20px;">
<form name="maininfo" method="post" action="?action=save_back" class="form">	
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:10%">选择</th><th style="width:25%">表名</th><th style="width:20%;">记录数</th><th style="width:20%;">使用空间</th><th style="width:25%;">更新时间</th></tr>
	</thead>

	<tbody id="show_list">
	
	<?php
	if(!empty($rel)){
	 foreach($rel as $k=>$v){
	?>
		<tr>
			<td style="width:10%; text-align:center"><input type="checkbox" style="border:0" checked="checked" value="<?php echo $v['Name'];?>" name="db[]" /></td><td style="width:25%; text-align:center"><?php echo $v['Name'];?></td><td style="width:20%;text-align:center"><?php echo $v['Rows'];?></td><td style="width:20%;text-align:center"><?php echo round($v['Data_length']/1024,2).'K';?></td><td style="width:25%;text-align:center"><?php echo $v['Update_time'];?></td>
		</tr>
		<?php
		}
		}
		?>
		<tr>
			<td style="width:10%; text-align:center">&nbsp;</td><td style="width:25%; text-align:center">备份文件名:<input type="text" name="fl_name" value="<?php echo date('YmdHms',time()).'.sql';?>"/></td><td style="width:20%;text-align:center">&nbsp;</td><td style="width:20%;text-align:center">&nbsp;</td><td style="width:25%;text-align:center">&nbsp;</td>
		</tr>
	</tbody>
 </table>
 <div class="btn" style="margin-top:10px">
  <input type="submit" value="确定" class="go" name="submit"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
  </form>
 </div>
 <div class="btn" style="margin-top:10px">

 </div>

</body>
</html>
