<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员分组</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('#bs').blur(function(){
		$('#table').val($(this).val());
	});
	$('tbody').find('tr').hover(function(){
		//$(this).css('background','#ccc');
	},function(){
		//$(this).css('background','none');
	});
	$('#c_all').click(function(){
		$is_ck=$(this).attr('checked');
		if($is_ck){
			$('tbody#purview').find("input[type='checkbox']").attr({'disabled':'disabled','checked':'checked'});
		}else{
			$('tbody#purview').find("input[type='checkbox']").attr({'disabled':'','checked':''});
		}
	});
});
function all_sl(str){
		$ck=$('#'+str).attr('checked');
		if($ck){
			$('td#'+str).find('input').attr('checked','checked');
		}else{
			$('td#'+str).find('input').attr('checked','');
		}
	}
</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="admin_admin.php?action=admin_group">管理员分组</a> > 添加分组</h2></div>
</div><!--导航-->
<form name="maininfo" method="post" enctype="multipart/form-data" action="?" class="form" style="margin-top:20px;">
<div class="div_out" id="tb">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
	
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="不可重复,将会在栏目、内容等地方使用" class="help">会员组名称：</span></td><td style="width:70%"><input name="member_group_name" value="" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">会员组描述：<p style="color:#999999; font-weight:normal"></p></td><td style="width:70%"><textarea name="member_group_info" style="width:50%; height:50px;"></textarea></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">是否禁用：<p style="color:#999999; font-weight:normal"></p></td><td style="width:70%"><input type="radio" name="is_disable" value="0" checked="checked" style="border:0" />开启<input type="radio" name="is_disable" value="1" style="border:0" />禁用</td>
		</tr>
		</tbody>
 </table>
 </div>
 <div class="btn" style="margin-top:10px">
<input type="hidden" name="action" value="save_membergroup"/>
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</body>
</html>
