<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看留言</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body{ margin:20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('.q').find('ul li').click(function(){
		$index=$('.q').find('ul li').index(this);
		$('#tb').find('div').eq($index).show().siblings().hide();
	});
});
</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="?lang=<?php echo $lang;?>">留言管理</a> >查看留言</h2></div>
</div><!--导航-->
<form name="maininfo" method="post" enctype="multipart/form-data" class="form" action="?">
<div class="div_out" id="tb">
<div id="sys1">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th class="w1">参数说明</th><th class="w2">参数值</th><th class="w3 r">变量名</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td class="w1" style="text-align:center">留言标题:</td><td class="w2"><?php echo $rel[0]['book_title'];?></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">留言人:</td><td class="w2"><?php echo $rel[0]['book_name'];?></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">留言时间:</td><td class="w2"><?php echo date('Y-m-d H:m:s',$rel[0]['addtime']);?></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">留言内容:</td><td class="w2"><?php echo $rel[0]['book_content'];?></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">回复内容:</td><td class="w2"><textarea name="reply" style="width:80%; height:100px;"><?php echo $rel[0]['reply'];?></textarea></td><td class="w3"></td>
		</tr>
		
	</tbody>
 </table>
 </div>
 
</div>
<div class="btn" style="margin-top:10px">
<input type="hidden" name="action" value="save_reply"/><input type="hidden" name="id" value="<?php echo $id;?>"/><input type="hidden" name="replytime" value="<?php echo $rel[0]['replytime'];?>" /><input type="hidden" value="<?php echo $lang;?>" name="lang" />
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</body>
</html>
