<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加语言包</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript" src="template/images/form.js"></script>
<script type="text/javascript" src="template/images/admin.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('#bs').blur(function(){
		$('#table').val($(this).val());
	});
	
});
</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="admin_channel.php">模型管理</a> > 添加模型</h2></div>
</div><!--导航-->

<div class="caozuo_nav">
<ul>
<li class="<?php if($GLOBALS['action']=='channel'){ echo 'hover';}?>"><a href="admin_channel.php">模型管理</a></li>
<li class="<?php if($GLOBALS['action']=='add'){ echo 'hover';}?>"><a href="admin_channel.php?action=add">添加模型</a></li>
<li class="<?php if($GLOBALS['action']=='cache'){ echo 'hover';}?>"><a href="admin_channel.php?action=cache">更新模型缓存</a></li>
<div class="clear"></div>
</div><!--小操作导航-->


<form name="maininfo" method="post" enctype="multipart/form-data" action="admin_channel.php" class="form" >
<div class="div_out" id="tb" style="margin-top:8px;">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="模型的中文名称，在后台管理，前台发布等均使用此名字" class="help">模型名称：</span></td><td style="width:70%"><input name="channel_name" value="" style="width:50%" class="is_empty" title="模型名称" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="不可重复,用于操作模型，必须为小写英文和数字,填写后不可更改" class="help">模型标识：</span></td><td style="width:70%"><input name="channel_mark" value="" style="width:20%" class="is_empty" title="模型标示" id="bs" onblur="javascript:ajax_check(this,'check_channel');" /><span id="loading" style="display:none"></span></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="不可重复,必须为小写英文、数字或_" class="help">模型数据表:</span></td><td style="width:70%"><?php echo DB_PRE;?><input id="table" name="channel_table" value="" style="width:15%" class="is_empty" title="数据表" onblur="javascript:ajax_check(this,'check_table');" /><span id="loading" style="display:none"></span></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="只能使用数字,数字越大排在越前" class="help">模型排序:</span></td><td style="width:70%"><input name="channel_order" value="10" style="width:20%" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="会员是否可以使用该模型发布内容" class="help">是否支持会员投稿：</span></td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_member" value="0" checked="checked"/>否<input type="radio" style="margin:0 5px; border:none" name="is_member" value="1" />是</td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">发布内容是否审核：</td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_verify" value="0" checked="checked" />否<input type="radio" style="margin:0 5px; border:none" name="is_verify" value="1"  />是</td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">是否开启：</td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_disable" value="1" />否<input type="radio" style="margin:0 5px; border:none" name="is_disable" value="0" checked="checked" />是</td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="固定的模型不能删除" class="help"></span>是否固定：</td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_del" value="0" checked="checked"/>否<input type="radio" style="margin:0 5px; border:none" name="is_del" value="1"  />是</td>
		</tr>
		
	</tbody>
 </table>
 </div>
 <div class="btn" style="margin-top:10px">
<input type="hidden" name="action" value="save_channel"/>
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</body>
</html>
