/* CSS Document */
body{font-size:12px; font-family:"宋体"}
*{margin:0; padding:0}
a{text-decoration:none; color:#333}
a:hover{color:#ccc}
ul,ul li{list-style:none}
.left{float:left}
.right{float:right}
.clear{clear:both}
.div_margin{padding-top:2px;}
input{border:1px solid #e3e3e3;}
input.search{padding:0 5px; margin-left:5px; background:#939393; border:none; color:#FFFFFF}
.contain,.head,.flash,.head_nav{width:950px; margin:0 auto}
.head_login{width:950px; margin:0 auto; margin-top:3px; height:25px; line-height:25px; border-bottom:1px solid #ccc; padding-bottom:3px;}
.head_login label,.head_login input{display:block; line-height:25px; float:left; margin-right:3px; display:inline}
.head_login input{padding:3px 0;}
#ajax_login{background:url(login_input2.gif) no-repeat left center; height:23px; width:56px;}
.head{height:65px; overflow:hidden}
.head_left{width:500px; float:left;}
.sousuo{width:350px; height:50px; float:left; margin-top:0px;}
.sousuo .s_margin{margin-top:5px; height:20px; line-height:20px;}
.sousuo .s_margin a{padding-right:5px;}
.sousuo .s_margin span{font-weight:bold}
.sousuo .find{background:url('bnt_go.gif') no-repeat left center; width:53px; border:0px; display:block; float:left; height:20px; margin-left:5px;}
.logo{margin-top:0px;}
.head_right{width:250px; text-align:right; float:right; padding-top:0px;}
.head_right a{padding-left:8px;}
.head_right a.focus{font-weight:bold}
.head_nav{height:32px; background:url('nav_center.gif') repeat-x left center;}
.nav_left{padding-left:9px; height:32px; background:url(nav_left.gif) no-repeat left center}
.nav_right{padding-left:5px; height:32px; background:url(nav_right.gif) no-repeat right center}
.head_nav ul{width:100%;}
.head_nav ul li{display:block; position:relative; height:32px; float:left; line-height:32px; margin-right:8px; display:inline; padding-right:2px; background:url('nav_fen.gif') no-repeat right center}
.head_nav ul li a{display:block; padding:0 10px; float:left; height:32px; line-height:32px; font-weight:bold; color:#FFFFFF; font-size:14px;}
.head_nav ul li a:hover,.head_nav ul li.focus a{color:#fccc25;}
.head_nav p.li_child{position:absolute; top:30px; left:-10px;; background:#F3F3F3; border:1px solid #ccc; width:90px; text-align:center; z-index:9999}
.head_nav p.li_child a{display:block; height:25px; width:90px; line-height:25px; color:#333; font-weight:normal; font-size:12px; padding:0}
.head_nav ul li.focus p.li_child a{ color:#333;}
.head_nav p.li_child a:hover,.head_nav ul li.focus p.li_child a:hover{background:#E0E0E0; color:#FFFFFF}
.contain_left{width:200px; float:left}
.box{border:1px solid #ccc; position:relative}
.box_left,.box_right{width:3px;height:3px;}
.box_left{background:url('top_left.gif') no-repeat left top; position:absolute; left:-1px; top:-1px;}
.box_right{background:url('top_right.gif') no-repeat right top;  position:absolute;  right:-1px; _right:0px; top:-1px; _top:0px;}
.box_title{width:100%;height:29px; border-bottom:1px solid #ccc; line-height:29px; background:url('lan_bg.gif') repeat-x left center;}
.box_title h2{width:40%;font-size:12px; color:#4177c1; padding-left:10px;float:left;}
.box_in{padding:5px;}
.nav_list,.contact{width:185px; overflow:hidden}
.nav_list li{display:block;margin-left:5px;}
.nav_list li a{display:block; height:25px; line-height:25px; overflow:hidden; padding-left:15px; background:url('icon1.gif') no-repeat left center; color:#4077c1}
.nav_list li a:hover,.nav_list li.focus a{color:#fccc25}
.contact{line-height:24px;}
.contain_right{width:740px; float:right}
.jianjie{width:365px; float:left}
.j_content{padding:5px; height:180px; overflow:hidden; line-height:20px;}
.j_content img{padding:0 5px 0 0;}
.news{width:365px; float:right}
.news_list{padding:5px; padding-bottom:0px; height:183px;}
.index_news_tj {border-bottom:1px dashed #DFDFDF;height:100px;}
.index_news_tj img {border:1px solid #C9C9C9;float:left;margin-right:15px;padding:2px;}
.index_news_tj .title2 {color:#525252;font-family:'宋体';font-size:12px;line-height:normal; font-weight:bold}
.index_news_tj .info {color:#777777;line-height:180%; width:200px; height:70px; overflow:hidden;margin-top:5px; text-align:left}
.index_news_tj .info a {color:#333;}
.news_list li {background:url(icon2.gif) no-repeat left center;color:#333333;font-size:12px;margin:6px 0;padding-left:15px;text-align:right;}
.news_list li a {color:#333;float:left; font-size:12px;margin-right:10px;}
.news_list li a:hover{color:#ccc}
.pr{width:950px;}
.pr_box_in{padding:10px 0px 10px 50px;}
.mouse{position:relative}
.pic_left{width:23px; height:23px; margin-top:50px; float:left; cursor:pointer; background:url('pic_left.gif') no-repeat left center}
.pic_right{width:23px; height:23px; margin-top:50px; float:right; cursor:pointer; background:url('pic_right.gif') no-repeat left center}
.pic_contain{width:880px; overflow:hidden; height:175px;float:left; position:relative}
.pr_list{padding:5px; width:718px; overflow:hidden}
.pr_list li{display:block; width:125px; height:175px; float:left; margin-left:15px; display:inline}
.pr_list li img{width:120px; height:120px; border:1px solid #ccc; padding:1px;}
.pr_list li p{padding:3px;}
.pr_list li p.look a{color:#ff7c07}
.web_link{width:950px;}
.web_link ul{padding:5px;}
.web_link ul li{display:inline}
.web_link ul a{padding:0 8px;}
.foot{margin-top:8px; margin-bottom:15px; font-size:12px;}
.foot .foot_nav{text-align:center; padding:5px 0;}
.foot p{text-align:center; padding-bottom:5px;}
h2.position{color:#333;font-size:12px;font-weight:normal;}
.ul_list_article li {display:block; width:710px; height:25px; margin-left:10px; line-height:25px;border-bottom:1px solid #EEEEEE;color:#CCCCCC;font-size:14px;}
.ul_list_article li a {background:url(icon2.gif) no-repeat 0 center; padding-left:10px; height:25px; line-height:25px;text-align:left;color:#2B2B2B;display:block;margin-right:10px; float:left}
.ul_list_article li span{float:right; text-align:right; display:block;}
.ul_list_article li span.title{float:left;}
.ul_list_article li span.title a{ background:none}
.list_page{float:right; margin:0 10px; margin-top:10px;}
.list_page li{display:inline; margin-right:2px}
.list_page li a{padding:5px;}
.list_page li a:hover,.list_page li.focus a{color:#cc0000;}
.list_page li.focus a{font-weight:bold}
p.title{padding:10px 0; margin-top:15px; text-align:center; font-weight:bold; font-size:24px; color:#777}
p.info{padding:0; text-align:center}
p.info span{padding:0 8px;}
.arc_info{margin:8px 0;border:1px solid #ddd; background:#F9F9F9; padding:8px; line-height:150%;}
.arc_body{margin:8px 0; padding:8px; width:710px; overflow:hidden; line-height:200%; font-size:14px;}
.arc_link{margin:15px 0;}
.arc_link span{padding:0 8px;}
.ul_list_pic{margin-top:10px;}
.ul_list_pic li{display:block; float:left; width:128px; height:158px; margin:0 5px; margin-top:5px; display:inline}
.ul_list_pic li img{padding:1px; border:1px solid #ccc}
.ul_list_pic li a{display:block; width:124px; height:154px; padding:2px; border:1px solid #FFFFFF}
.ul_list_pic li a:hover{color:#cc0000}
.ul_list_pic li span{display:block; height:28px; padding:3px 0; overflow:hidden; cursor:pointer}
.show_product{margin-top:20px; width:730px;}
.show_left{width:406px; height:406px; float:left}
.show_left .img{ padding:2px; margin-bottom:8px;}
.show_left .img_go{}
.show_left .img_go span{width:4px; height:48px; background:url(icon5.gif) no-repeat 0 center; float:left;}
.show_left .img_go span.spanR{width:4px; height:48px; background:url(icon5.gif) no-repeat -5px center; float:right;}
.show_left .img_go .gallery{width:375px; float:left; margin-left:10px; _margin-left:5px; overflow:hidden;}
.show_left .img_go .gallery ul{width:auto;}
.show_left .img_go .gallery li{float:left; width:48px; margin:0 2px;}
.show_left .img_go .gallery li img{width:46px; height:46px; display:block; border:1px solid #ccc}
.show_right{width:300px; float:right;}
.show_right li{display:block; padding:8px;}
.show_right li span{font-weight:bold; color:#777}
.soft_info{margin:8px 20px;}
.soft_info li{padding:10px 0}
.soft_info span{font-weight:bold; padding-right:10px; color:#777}
.soft_down{margin:15px}
.soft_down a{padding:5px; border:1px solid #91DAFD; background:#DAE7FE}
.job_list{padding:10px; margin:10px 0;}
.job_list li{display:block; height:30px; line-height:30px; border-bottom:1px dashed #ccc;}
.job_list li span{font-weight:bold; padding:0 5px; color:#777}
.list_news{}
.list_news li{display:block; height:20px; line-height:20px; overflow:hidden; width:100%; background:url('icon2.gif') no-repeat left center}
.list_news li a{display:block; height:20px; line-height:20px; padding-left:10px;}
.list_product{}
.list_product li{display:block; width:100%; height:110px; margin-top:8px;}
.list_product li a{display:block;}
.list_product li img{display:block; width:90px; height:90px; margin:0 auto; display:block; float:left; padding:1px; border:1px solid #ccc;}
.list_product li p{padding-top:5px; width:85px; line-height:15px; display:block; display:inline;  float:right}
.list_product li p span{display:block;}
.list_product li p span.title{font-weight:bold; color:#666666;}

.ul_list_article li.list_info{height:auto; line-height:normal; background:none}
.ul_list_article li.list_info dt{display:block; height:25px; line-height:25px;font-weight:bold}
.ul_list_article li.list_info dl dd{margin-left:10px;}
.ul_list_article li.list_info dl dd p.in_pic{width:70px; float:left; height:70px;}
.ul_list_article li.list_info dl dd p.in_pic img{ padding:2px; border:1px solid #ccc}
.ul_list_article li.list_info dl dd p.in_text{float:left; color:#333; height:70px; width:580px; text-align:left; margin-left:8px; display:inline}

#body .con{margin:0 auto; background:#fff; margin:0 3px 3px 3px; text-align:center}
#body .con .title{font-size:12px; margin-bottom:5px; margin-left:5px; text-align:left; height:20px; padding-left:20px; background:url({cmspath source=cmspath name=template/}/images/kf_icon.gif) no-repeat left center; line-height:20px; color:#000000}
#body .con ul{margin:0 auto; padding:0; float:left; width:133px; background-color:#FFFFFF; border:#FFFFFF 1px solid}
#body .con li{font-size:9pt; list-style-type:none; height:25px; padding-right:5px; clear:both; display:block;}
#body .con li span{line-height:25px; margin-left:10px;  display:block; vertical-align:middle}
#body .con li span.lf{float:left}
#body .con li span.lr{float:right}

.q_body{margin-bottom:4px;margin-top:12px;}
.q_body ul{border-bottom:1px solid #E14333;height:29px;}
.q_body ul li{height:25px;margin-top:4px;display:block; cursor:pointer; padding-left:16px; background:url('li2.gif') no-repeat left top; float:left; margin-right:5px; display:inline}
.q_body ul li span{display:block; float:left; padding-right:16px; background:url('span2.gif') no-repeat right top;line-height:25px;}
.q_body ul li.focus{margin-top:0; height:29px; background:url('li1.gif') no-repeat left top}
.q_body ul li.focus span{background:url('span1.gif') no-repeat right top;line-height:29px; color:#FFFFFF}
/*form style*/
.form_form{margin-top:5px;}
.form_form p{height:25px; line-height:25px; color:333; font-weight:bold; text-align:center}
.form_form input{padding:2px 0;}
.form_form input.pt_go,.form_form input.pt_reset{background:#FF930D;border:1px solid #D07300;height:25px;line-height:25px;padding:0 15px;}
.form_form input.pt_reset{margin-left:15px;}
/*map style*/
.sitemap{}
.sitemap h2{height:25px; line-height:25px; font-size:14px; padding-top:5px; border-bottom:1px dashed #ccc}
.sitemap .sitemap_box{border-bottom:1px dashed #ccc;}
.sitemap li{display:block; float:left; margin-right:15px; height:28px; line-height:28px;}
.sitemap li a{display:block; padding:5px 0; float:left;}
/*search*/
.search_title{margin-top:10px; border:1px solid #ccc; border-right:0; border-left:0; background:#F3F3F3; height:30px; line-height:30px; padding-left:5px;}
.search_title a{padding-left:15px; font-weight:bold}
.search_content{margin-top:5px; border-bottom:1px dashed #ccc}
.search_content h2{height:25px; line-height:25px;}
.search_content h2 a{font-size:14px;}
.search_content p{height:35px; line-height:23px;}
.search_page{width:99%; border-top:none; text-align:left; margin-top:8px;}
.search_page ul{ list-style:none}
.search_page li{display:block; float:left; margin-left:5px; height:25px; line-height:25px;}
.search_page li a{display:block; height:25px; line-height:25px; float:left;}
.search_page li.focus a{font-weight:bold; color:#990000}

/*book*/
.book_contain{width:948px; border:1px solid #ccc;}
.book_contain h2{height:25px; font-size:12px; padding-left:8px; line-height:25px; background:#ccc}
.book_head{height:25px; line-height:25px; padding-left:15px;}
.book_head span.time{padding-left:25px;}
.book_head span.title{font-weight:bold}
.book{border-bottom:1px dashed #ccc; margin:8px;}
.book_content,.book_reply{padding-left:15px; line-height:24px;}
.book_reply{color:red;}
.book_form{width:700px; margin:0 auto}
.book_form p{padding:5px; height:25px;}
.book_form label{display:block; float:left; width:80px;}
/*member*/
.left_contain{width:180px; float:left; overflow:hidden; border-top:1px solid #ccc; border-bottom:1px solid #ccc}
.user_right{width:760px; float:right; overflow:hidden}
.user_position{height:25px; line-height:25px; font-size:12px; color:#333; font-weight:normal; padding-left:20px; background:url('icon_p.gif') no-repeat left center; border-bottom:1px solid #ccc;}
.left_top{border:1px solid #ccc; width:178px; height:40px; border-bottom:none; text-align:center; line-height:40px;}
.left_top p{margin:1px; height:38px;}
.left_contain h2{font-size:12px; color:#0e2978; border-right:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px dashed #ccc; height:30px; cursor:pointer}
.left_contain h2 p{margin:1px;  background:url(m_nav_icon.gif) no-repeat right center; margin-right:8px; line-height:28px; padding-left:35px;}
.left_contain h2 p.focus{ background:url(m_nav_icon_h.gif) no-repeat right center;}
.left_contain h2 p.focus a{color:#FF0000}
.left_contain h2 p span{padding-left:5px;}
.left_contain ul{margin:4px; padding:5px; background:#EEF7FE;}
.left_contain ul li{padding-left:30px; height:25px; line-height:25px;}
.left_contain ul li a{padding-left:15px; background:url(icon2.gif) no-repeat left center}

.q{width:100%; height:25px; line-height:25px;}
.q ul{margin-left:0px;}
.q ul li{width:80px; margin-right:5px; line-height:25px; background:url(q.gif) no-repeat left top; display:block; float:left; display:inline; text-align:center; cursor:pointer; overflow:hidden}
.div_out{border:1px solid #eee; border-top:2px solid #2d9fee; border-left:none; border-bottom:none; border-right:none; width:99%; margin-bottom:8px;}
.div_margin{margin:1px 0}
.position,.page{height:25px; line-height:25px; background:url(admin_mainbg.gif) repeat-x left top}
.position h2{padding-left:10px; font-size:12px; color:#555555; font-weight:normal}
.lang{padding:5px; border-bottom:1px solid #C6E4F8}
.lang span{color:#999}
.lang a{padding:0 8px;}
.lang a.hover{color:#ceb70d; font-weight:bold}
.form table{width:100%;}
.form table td,#tb table td,.user_right table td{line-height:14px; padding:5px 0; }
.form table th,#tb table th,.user_right table th{height:25px; line-height:25px;}
.form table th,td,#tb table td,th{ border-bottom:1px dashed #c6e4f8}
.form table th,#tb table th,.user_right table th{background:#c1dff4; color:#002c51; font-weight:normal}
.form table th.r,td.r{border-right:none}
.form table td,,#tb table td{text-align:left; padding-left:8px; background:none}
.form .w1{width:20%; color:#000; text-align:center;}
.form .w1 p{font-weight:normal}
.form .w2{width:49%;}
.form .w3{width:30%}
.form table td.w2{text-align:left; padding-left:5px;}
.form input,#tb input,.form textarea{border:1px solid #ccc; padding:3px 0; margin-right:5px}
.form .btn,#tb .btn{text-align:center; height:30px; line-height:30px; padding-top:10px;}
.form input.go,#tb input.go,input.go{height:25px; line-height:25px; border:1px solid #d07300; background:#ff930d; padding:0 15px;}

table #catagory{padding:0; clear:both;}
#catagory p{padding:0px 0;}
#catagory p.right{float:right}
#catagory p.left{float:left}
#catagory span.exp{padding:3px 10px; background:url(explode.gif) no-repeat left center;}
#catagory span.cata{padding:0 5px;}
#catagory span.caozuo a{padding:0 3px;}

.page{width:99%; border-top:none; text-align:right; margin-top:8px;}
.page ul{margin-left:20px;}
.page li{display:block; float:left; margin-left:5px; height:25px; line-height:25px;}
.page li a{display:block; height:25px; line-height:25px; float:left;}

.login{margin:50px auto; width:300px; border:1px solid #003399}
.login_title{height:25px; line-height:25px; text-align:center; color:#FFFFFF; font-weight:bold; background:#000066}
.login form{margin-top:8px; margin-left:15px;}
.login p{padding:5px;}
.login h2{font-size:12px; padding:5px;}
.login form input{border:1px solid #ccc; padding:3px 0}
.login .btn{text-align:center; height:30px; line-height:30px; padding-top:10px;}

.caozuo_nav{margin-bottom:8px;}
.caozuo_nav li{display:block; float:left; height:25px; line-height:25px; margin-right:8px; display:inline}
.caozuo_nav li a{display:block; float:left; height:25px; line-height:25px; padding:0 5px; color:#001961; background:url(admin_mainbg.gif) repeat-x left top; border:1px solid #2788dc}
.caozuo_nav li.hover a{background:url(caozuo_nav_hover.gif) repeat-x left top; border:1px solid #ceb70d}
.help{padding:5px; padding-right:20px; background:url(help.png) no-repeat left center}
table tbody span.qi_yes{padding:5px 10px; background:url(yes.png) no-repeat left center}
table tbody span.qi_no{padding:5px 10px; background:url(no.png) no-repeat left center}
.login_info{border:1px solid #2D9FEE; border-left:none; border-right:none; height:30px; line-height:30px; background:#DDF2FF; padding-left:10px;}
.login_info span{padding:0 5px; color:#0033CC}
.member_info{margin-top:8px; border:1px solid #ccc; background:#F5F5F5}
.member_info p{padding:5px 8px;}
.member_info h2{font-size:12px; padding:5px 8px;}

.reg_title,.reg_foot{height:80px; width:950px; margin:0 auto}
.reg_title{background:url('logo.gif') no-repeat left center; margin:10px auto; text-indent:-1000px;}
.reg_contain{width:950px;border-bottom:1px solid #ccc; background:#fff; margin:10px auto; padding-bottom:10px;}
#reg_div{margin-left:30px; padding:10px;}
#reg_div table tr td{border-bottom:none; height:25px; line-height:25px;}
.user_login{width:400px; float:left; border-right:1px dashed #ccc; margin:10px 0;}
.user_login_info{width:400px; float:right; margin:10px 0;}
.user_login_info h2{font-size:12px; height:30px; line-height:30px;}
.user_login_info p{height:25px; line-height:25px;}
.user_reg_btn{margin-top:10px;}
.login_input{background:url('login_input.gif') no-repeat left top; width:110px; height:40px; display:block; border:0}
.reg_foot{height:auto;margin-top:10px; padding:5px 0; text-align:center}
