<table class="list-reward">
  <tbody>
    <tr>
      <td class="a"><input  type="text"  class="txtresume" name="awordindex" id="awordindex" value=""  style="display:none;" size="6" />
        <input  type="text"  class="txtresume" name="getdate" id="getdate" value="请输入获得时间"  size="20" /></td>
      <td><input  type="text"  class="txtresume" name="awordname" id="awordname" value="请输入奖励名称"  size="60" /></td>
      <td><input type="button" class="btn  awordaddsave"  value="保存"/></td>
    </tr>
  </tbody>
</table>
