<h2 class="tit-0"><span>
  <input type="submit"  class="btn btn-base"   value="编辑"/>
  </span>基本信息</h2>
<h1 class="realname">奥巴马</h1>
<div class="avatar"><img src="../images/tx2.jpg" /></div>
<div class="list-info">
  <table class="list-table">
    <tr>
      <td class="a">出生日期：</td>
      <td class="b birth" > 1984-6-25 </td>
      <td class="a">性别:</td>
      <td class="b sex" > 男 </td>
    </tr>
    <tr>
      <td class="a" > 政治面貌 </td>
      <td class="political">党员</td>
      <td class="a" > 婚姻状况 </td>
      <td  class="marriage">未婚</td>
    </tr>
    <tr>
      <td class="a">现居住地</td>
      <td class="nowaddr" >绍兴</td>
      <td class="a">户口所在地</td>
      <td class="residenceaddr" >绍兴</td>
    </tr>
    <tr>
      <td class="a">联系地址</td>
      <td colspan="3" class="address">绍兴县柯桥金汇大厦301</td>
    </tr>
    <tr>
      <td class="a">固定电话:</td>
      <td class="tel">0575-88374461</td>
      <td class="a">手机号码:</td>
      <td class="mobile">13989563578</td>
    </tr>
    <tr>
      <td class="a">Email:</td>
      <td class="email">limiton@limiton.cn</td>
      <td class="a">目前年薪:</td>
      <td class="yearsalary">10万</td>
    </tr>
    <tr>
      <td class="a">求职状态:</td>
      <td colspan="3" class="workingstate">目前正在找工作</td>
    </tr>
  </table>
</div>
