<table class="list-education">
  <tbody>
    <tr>
      <td rowspan="3" class="a"><span class="edubegindate">$edubegindate</span>至<span class="eduenddate">$eduenddate</span></td>
      <td class="major"><span><a class="btn eduedit">编辑</a></span><span class="majorname">$majorname</span></td>
    </tr>
    <tr>
      <td><span class="school">$school</span> <span class="educationname">$educationname</span></td>
    </tr>
    <tr>
      <td class="majornote">$majornote</td>
    </tr>
  </tbody>
</table>
