<table class="list-education">
<tr>
<td  rowspan="3" class="a"><input  type="text"  class="txtresume" name="eduindex" id="eduindex" value=""  style="display:none;" size="6" /><input  type="text"  class="txtresume" name="edubegindate" id="edubegindate" value=""  size="6" />
  至
  <input  type="text"  class="txtresume" name="eduenddate" id="eduenddate" value="" size="6"/></td>
<td width="545" ><input  type="text"  class="txtresume" name="major"  id="major" value="" /></td>
</tr>
<tr>
  <td><input  type="text"  class="txtresume" name="school"  id="school" value="" />
    &nbsp;&nbsp;
    <input  type="text"  class="txtresume" name="education"  id="education"  size="10" value="" /></td>
</tr>
<tr>
  <td ><textarea cols="80" rows="5"  class="txtarearesume" id="majornote" name="majornote"></textarea>
    <div class="btn-wrapper">
      <input type="submit"  class="btn btn-edusave"   value="保存"/>
    </div></td>
</tr>
</table>
