<table class="list-intention">
  <tbody>
    <tr>
      <td  class="a time">工作性质</td>
      <td  class="jobtype">全职</td>
    </tr>
    <tr>
      <td  class="a time">地区</td>
      <td  class="jobworkplace">杭州</td>
    </tr>
    <tr>
      <td  class="a time">行业</td>
      <td  class="jobindustry">行业名称</td>
    </tr>
    <tr>
      <td  class="a time">职能</td>
      <td  class="jobsort">网站开发</td>
    </tr>
    <tr>
      <td  class="a time">期望薪水</td>
      <td  class="salary">10万</td>
    </tr>
  </tbody>
</table>
