<div class="list-language">
  <div class="btn-top"><span class="btn btnlangedit">编辑</span></div>
  <table>
    <tbody>
      <tr>
        <td  class="a">语言类别：</td>
        <td  class="b languagename">$languagename</td>
        <td  class="a">掌握程度：</td>
        <td  class="b master">$master</td>
      </tr>
      <tr>
        <td class="a">读写能力：</td>
        <td  class="readandwrite">$readandwrite</td>
        <td class="a">听说能力：</td>
        <td  class="listenandtalk">$listenandtalk</td>
      </tr>
    </tbody>
  </table>
</div>
