<tr>
  <td class="a" rowspan="2"><input  type="text"  class="txtresume" name="postindex" id="postindex" value=""  style="display:none;" size="6" />
    <input  type="text"  class="txtresume" name="postbegindate" id="postbegindate" value="请输入开始时间"  size="20" />
    至
    <input  type="text"  class="txtresume" name="postenddate" id="postenddate" value="请输入结束时间"  size="20" /></td>
  <td><input  type="text"  class="txtresume" name="postname" id="postname" value="请输入职务名称"  size="60" /></td>
</tr>
<tr>
  <td><textarea  class="txtarearesume" name="postnote" id="postnote"  cols="60" rows="5"  value="请输入职务描述" />
  <div class="btn-wrapper"><input type="button" class="btn  posteditsave"  value="保存"/></div></td>
</tr>

