<table class="list-schoolpost postadd">
  <tbody>
    <tr>
      <td class="a" rowspan="2"><input  type="text"  class="txtresume" name="postindex" id="postindex" value=""  style="display:none;" size="6" />
        <input  type="text"  class="txtresume" name="postbegindate" id="postbegindate" value="开始时间"  size="6" />
        至
        <input  type="text"  class="txtresume" name="postenddate" id="postenddate" value="结束时间"  size="6" /></td>
      <td><input  type="text"  class="txtresume" name="postname" id="postname" value="请输入职务名称"  size="60" /></td>
    </tr>
    <tr>
      <td><textarea  class="txtarearesume " name="postnote" id="postnote" value="请输入职务描述" cols="80" rows="5"  /></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="button" class="btn postaddsave"  value="保存"/></td>
    </tr>
  </tbody>
</table>
