<tr>
  <td class="a" rowspan="2"><input  type="text"  class="txtresume" name="praindex" id="praindex" value=""  style="display:none;" size="6" />
    <span class="prabegindate">
    <input  type="text"  class="txtresume" name="prabegindate" id="pratbegindate" value="开始时间"  size="6" />
    </span>至<span class="praenddate">
    <input  type="text"  class="txtresume" name="praenddate" id="praenddate" value="结束时间"  size="6" />
    </span></td>
  <td class="practice"><span>编辑</span><span class="practicename">
    <input  type="text"  class="txtresume" name="practicename" id="practicename" value="请输入实践名称"  size="60" />
    </span></td>
</tr>
<tr>
  <td  class="practicenote"><textarea  class="txtarearesume " name="practicenote" id="practicenote" value="请输入实践描述" cols="80" rows="5"  />
    <div class="btn-wrapper">
      <input type="submit"  class="btn btn-practiceeidtsave"   value="保存"/>
    </div></td>
</tr>
