<tr>
  <td width="253" rowspan="3" class="a"><input  type="text"  class="txtresume" name="expindex" id="expindex" value=""  size="6" style="display:none;" />
    <input  type="text"  class="txtresume" name="begindate" id="begindate" value=""  size="6" />
    至
    <input  type="text"  class="txtresume" name="enddate" id="enddate" value="" size="6"/></td>
  <td width="545" class="station-name"><input  type="text"  class="txtresume" name="jobname"  id="jobname" value="" /></td>
</tr>
<tr>
  <td class="company-name"><input  type="text"  class="txtresume" name="company"  id="company" value="" /></td>
</tr>
<tr>
  <td class="des"><textarea cols="80" rows="5"  class="txtarearesume" id="jobnote" name="jobnote"></textarea>
    <div class="btn-wrapper">
      <input type="submit"  class="btn btn-expedit"   value="保存"/>
    </div></td>
</tr>
