<table class="listworkexp expadd">
  <tbody>
  <form>
    <tr>
      <td width="253" rowspan="3" class="a"><input  type="text"  class="txtresume" name="begindate"  id="begindate" value="时间1"  size="6" />
        至
        <input  type="text"  class="txtresume" name="enddate" id="enddate" value="时间2" size="6"/></td>
      <td width="545" class="station-name"><input  type="text"  class="txtresume" name="jobname" id="jobname" value="请输入岗位名称" /></td>
    </tr>
    <tr>
      <td class="company"><input  type="text"  class="txtresume" name="company" id="company" value="请输入公司名称" /></td>
    </tr>
    <tr>
      <td class="des"><textarea cols="80" rows="5"  class="txtarearesume" id="jobnote">请输入您的工作描述</textarea>
        <div class="btn-wrapper">
          <input type="submit"  class="btn btn-evalsave"   value="保存"/>
        </div></td>
    </tr>
  </form>
  </tbody>
  
</table>
