<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print $content['info']/}">
<meta name="keywords" content="{print $content['keywords']/}">
<title>{print $content['title']/}_{print $cateinfo['catename']/}_{print $webinfo['webname']/}</title>
<link href="{path template/}/images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{path template/}/images/jquery.js"></script>
<script type="text/javascript" src="{path template/}/images/nav.js"></script>
</head>
<body>
{include head/}
<div class="div_margin"></div>
<div class="contain">
	<div class="contain_left">
		<div class="box left_width">
		<div class="box_left"></div>
		<div class="box_right"></div>
			<div class="box_title"><h2>{print $language['products_nav']/}</h2></div>
			<div class="box_in">
				<ul class="nav_list">
				{loop source=$down_arc_nav tpl=下载内容页产品导航 tpl_id=down_arc_nav}
					<li class="{print $v['class']/}"><a href="{print $v['url']/}" {print $v['target']/} title="{print $v['cate_name']/}">{print $v['cate_name']/}</a></li>
				{/loop}
				</ul>
			</div>
		</div><!--容器结束-->
		<div class="div_margin"></div>
			<div class="box">
			<div class="box_left"></div>
			<div class="box_right"></div>
			<div class="box_title"><h2>{print $language['contact']/}</h2></div>
			<div class="box_in">
				<div class="contact">
				{block source=$down_arc_link tpl=下载内容页联系方式 tpl_id=down_arc_link/}
				</div>
			</div>
		</div><!--容器结束-->
		<div class="div_margin"></div>
			<div class="box">
			<div class="box_left"></div>
			<div class="box_right"></div>
			<div class="box_title"><h2>{print $language['hot_content']/}</h2></div>
			<div class="box_in">
				<div class="list_news">
					<ul>
					{loop source=$down_arc_article tpl=下载内容页热点内容 info=排序使用点击排序 tpl_id=dow_arc_article}
       					 <li><a title="{print $v['title']/}" {print $v['target']/} href="{print $v['url']/}">{print $v['style_title']/}</a></li>
					{/loop}
	   				</ul>  
				</div>
			</div>
		</div><!--容器结束-->
		<div class="div_margin"></div>
			<div class="box">
			<div class="box_left"></div>
			<div class="box_right"></div>
			<div class="box_title"><h2>{print $language['rec_content']/}</h2></div>
			<div class="box_in">
				<div class="list_product">
					<ul>
					 {loop source=$down_arc_product tpl=下载内容页推荐产品 info=发布产品时勾选'标志'勾选推荐才能显示 tpl_id=down_arc_product}
       					 <li><a title="{print $v['title']/}" {print $v['target']/} href="{print $v['url']/}"><img src="{print $v['tbpic']/}" alt="{print $v['title']/}" border="0" /><p><span class="title">{print $v['style_title']/}</span><span>{print cn_substr($v['info'],50)/}</span></p></a></li>
					{/loop}
	   				</ul>
					<div class="clear"></div>  
				</div>
			</div>
		</div><!--容器结束-->
		
	</div><!--左边内容-->
	<div class="contain_right">
		
		<div class="box">
			<div class="box_left"></div>
			<div class="box_right"></div>
			<div class="box_title"><h2 class="position"><span>{print  $language['location']/}:{position source=position/} > {print $content['style_title']/}</span></h2></div>
			<div class="box_in">
				<p class="title">{print $content['style_title']/}</p>
  <p class="info"><span>{print $language['content_hits']/}:<script language="javascript" src="{path includes/}/hits.php?id={print $content['id']/}"></script></span><span>{print $language['content_pubdate']/}:{print $content['updatetime']/}</span><span><a href="javascript:window.print()">【{print $language['print']/}】</a></span><span><a href="javascript:self.close()">【{print $language['close']/}】</a></span></p>
 <ul class="soft_info">
  <li><span>{print $language['tpl_file_type']/}:</span>{print $content['filetype']/}</li>
  <li><span>{print $language['tpl_file_size']/}:</span>{print $content['filesize']/}</li>
 </ul><!--下载信息-->
 <p style="padding:5px 0; padding-left:20px; font-weight:bold; color:#777;">{print $language['tpl_content']/}:</p>
  <div class="arc_body">
  {print $content['content']/}
  </div>
  <div class="list_page" style="float:none;margin-left:300px;">
   <ul>
    {print $body_pages/}
   </ul>
   <div class="clear"></div>
  </div>
  <p style=" padding:15px 0; padding-left:18px; padding-bottom:8px; font-weight:bold;color:#999999">{print $language['tpl_down_add']/}:</p>
  <div class="soft_down">
   <a href="{print $content['down']/}" target="_blank">{print $language['tpl_down']/}</a>
  </div><!--下载地址-->
 <div class="arc_link" style="clear:both"><span>{print $content['prev']/}</span><span>{print $content['next']/}</span></div>
				
			</div>
		</div><!--容器结束-->
	</div>
	<div class="clear"></div>
</div>

{include foot/}
</body>
</html>