<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<base href="<{$baseurl}>" />
<title>Insert title here</title>
<link href="common/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="top">
	<div class="top_bg">
	  <div class="logo"></div>
	  <div class="top_line"><{$welcome}>
	  <span class="right"><a href="<{$adminroot}>/user/userpage.php?page=pwd" target="mainFrame">修改密码</a>　|　<a href="<{$adminroot}>/login.php?act=logout" target="_top" >安全退出</a></span>
	</div>
</body>
</html>