<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>以太乔布斯</title>
<meta name="keywords" content="以太乔布斯" />
<meta name="description" content="以太乔布斯" />
<meta name="Copyright" content="以太乔布斯" />
<meta name="author" content="以太乔布斯" />
<link href="../css/globalLayout.css"  rel="stylesheet" type="text/css" />
<link href="../css/globalStyle.css" rel="stylesheet" type="text/css" />
<link href="../css/person.css" rel="stylesheet" type="text/css" />
<link href="../css/popselect.css" rel="stylesheet" type="text/css" />
<script language="javaScript" type="text/javascript" src="../scripts/jquery.js"></script>
<script language="javaScript" type="text/javascript" src="../scripts/globalsearch.js"></script>
<meta content="all" name="robots" />
</head>
<body>
<!--头部开始-->
<div class="header">
  <div class="wrapper">
    <div class="row-1">
      <div class="logo"><img src="../images/logo.jpg" /></div>
      <div class="search-bar">
        <div class="global-search-input">
          <div class="pos-abs"><span class="select">职位</span>
            <input type="text"  class="keyword" name="keyword" id="keyword" />
            <div class="downselect">
              <ul>
                <li>职位</li>
                <li>简历</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="global-btn">
          <input  class="btn-search" type="submit" value="" />
          高级搜索</div>
        <div class="icon-nav"><a href="#"><img src="../images/email.jpg" /></a><a href="#"><img src="../images/flag.jpg" /></a><a href="#"><img src="../images/user.jpg" /></a><a href="#"><img src="../images/user2.jpg" /></a></div>
      </div>
    </div>
    <div class="row-2">
      <div class="main-nav"> <a href="#">首页</a> <a href="#">求职</a> <a href="#">招聘</a> <a href="#">校园招聘专区</a> <a href="#">项目中介专区</a> <a href="#">学术研究专区</a> <a href="#">软件工程专区</a><span class="tips"><a href="#">小贴士</a></span></div>
    </div>
  </div>
</div>
<!--头部结束-->
<div class="wrapper clearfix">
  <div class="channel-switch"><a href="#"><span >求职</span></a> &nbsp;&nbsp; <a href="#"><span class="current">招聘</span></a></div>
  <div class="menu-nav"><a href="#">MyEtherJobs</a><span class="line"></span><a href="#">职位管理</a> <span class="line"></span><a href="#">项目管理</a> <span class="line"></span><a href="#">简历管理</a><span class="line"></span> <a href="#">账户管理</a></div>
  <!--  左右布局开始-->
  <div class="left-container">
    <div class="baseinfo clearfix">
    <h1 class="realname">奥巴马</h1>
    <div class="avatar"><img src="../images/tx2.jpg" /></div>
    <div class="list-info">
      <table class="list-table">
        <tr>
          <td class="a">出生日期：</td>
          <td class="b birth" > 1984-6-25 </td>
          <td class="a">性别:</td>
          <td class="b sex" > 男 </td>
        </tr>
        <tr>
          <td class="a" > 政治面貌 </td>
          <td class="political">党员</td>
          <td class="a" > 婚姻状况 </td>
          <td  class="marriage">未婚</td>
        </tr>
        <tr>
          <td class="a">现居住地</td>
          <td class="nowaddr" >绍兴</td>
          <td class="a">户口所在地</td>
          <td class="residenceaddr" >绍兴</td>
        </tr>
        <tr>
          <td class="a">联系地址</td>
          <td colspan="3" class="address">绍兴县柯桥金汇大厦301</td>
        </tr>
        <tr>
          <td class="a">固定电话:</td>
          <td class="tel">0575-88374461</td>
          <td class="a">手机号码:</td>
          <td class="mobile">13989563578</td>
        </tr>
        <tr>
          <td class="a">Email:</td>
          <td class="email">limiton@limiton.cn</td>
          <td class="a">目前年薪:</td>
          <td class="yearsalary">10万</td>
        </tr>
        <tr>
          <td class="a">求职状态:</td>
          <td colspan="3" class="workingstate">目前正在找工作</td>
        </tr>
      </table>
    </div>
    </div>
    <div class="base-content">
      <div class="list-tit tit-1"></div>
      <table class="layout-hire-tips">
        <tr>
          <td>正在发布职位:<span class="num">126</span>个</td>
          <td>正在发布项目：<span class="num">126</span>个</td>
          <td>共收到简历：<span class="num">126</span>份</td>
        </tr>
        <tr>
          <td><a href="#" class="btn-addpost"></a></td>
          <td><a href="#"  class="btn-addproject"></a></td>
          <td><a href="#"  class="btn-viewresume"></a></td>
        </tr>
      </table>
      <div class="list-tit tit-1">最新投递</div>
      <table class="list-record">
        <thead>
          <tr>
            <th>姓名</th>
            <th>应聘职位</th>
            <th>学历</th>
            <th>工作经验</th>
            <th>投递日期</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
          <tr>
            <td>胡海峰</td>
            <td>极限子建筑师</td>
            <td>硕士</td>
            <td>3年</td>
            <td>2013-8-15</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sub-col">
    <div class="sub-content clearfix">
      <div class="sub-tit">我的资料</div>
      <table class="ziliao-complete">
        <tr>
          <td>资料完整度:</td>
          <td><img src="../images/rezumeline.jpg" /></td>
          <td>10%</td>
        </tr>
        <tr>
          <td colspan="3" class="txt-center"><span class="go">马上完善我的资料</span></td>
        </tr>
      </table>
      <br />
      <!--应聘人才分布-->
      <div class="sub-tit">应聘人才分布</div>
      <img src="../images/rencai.jpg" />
      <div class="sub-tit">我关注的求职者</div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
      <div  class="list-attention">
        <div class="avatar"><img src="../images/attentx.jpg" /></div>
        <dl>
          <dt>周海峰</dt>
          <dd>计算机科学与技术</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="wrapper">
    <div class="foot-logo"><img src="../images/footlogo.jpg" /></div>
    <div class="foot-copyright"> Powered by Limiton Inc 保留所有权利。 Email:limi@limiton.cn   contact us<br />
      浙ICP:12030668 备2 </div>
  </div>
</div>
<!--版权结束-->
</body>
</html>
