/*
项目名称：EtherJobs
作者：宋佳杰
时间：2013-07-09
*/
/*
公共样式
*/
*{
	list-style:none;
	padding:0px;
	margin:0px;
	}
body {
	font-family: "宋体", "Arial";
	font-size: 12px;
	background: #fff;
	line-height: 20px;
	color: #000000;
	background:url(../images/bodybg.jpg);
}
a{
	text-decoration:none;
	}
a:link{
	color:#000000;
}
a:visited{
	color:#000000;
}
a:hover{
	color:#ff6600;
}
a:active{
	color:#000000;
}
img {
	border: 0px
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.txt-left{
	text-align:left;
	}
.txt-center{
	text-align:center;
	}
.txt-right{
	text-align:right;
	}
.header{
	background:url(../images/globalstyle.gif) repeat-x;
	}
.global-search-input{
	background:url(../images/global-search-input.jpg) no-repeat;
	}
.btn-search{
	border:0px;
	display:inline-block;
	width:49px;
	height:27px;
	background:url(../images/btn.gif) no-repeat;
	}
/*底部版权*/
.footer{
	background:url(../images/globalstyle.gif)  repeat-x 0px -81px;
	}
/*文本输入框*/
.txtbox{
	clear:both;
	height:32px;
	line-height:32px;
	border:1px solid  #b9b9b9;
	}
.txtarea,.txtselect{
	border:1px solid  #b9b9b9;
	font-size:12px;
	height:22px;
	line-height:22px;
	}