<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容管理</title>
<link rel="stylesheet" type="text/css" href="template/admin.css" />
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body {
	margin: 20px;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('#sl_all').click(function() {
			$('table').find('#all').attr('checked', 'checked');
		});
		$('#show_list').find('tr').hover(function() {
			$(this).find('td').css('background', '#ccffcc');
		}, function() {
			$(this).find('td').css('background', '');
		});
	});
	function set_act() {
		alert($('#form1').find('#all').val());
	}
</script>
</head>

<body>
<div class="div_out">
<div class="position">
<h2>当前位置 > <a href="?">内容管理</a></h2>
</div>
<div class="lang">
	<span>当前的语言:</span>
	<a href="guestbook.php?act=list&lang=<{$lang.id}>" class="hover"><{$lang.name}></a>
</div>
</div>
<!--导航-->

<div id="sys">
<form name="form" id="form1" method="post" action="" class="form">
<div class="div_out" id="tb">
<table cellpadding="0" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th style="width: 5%">选择</th>
			<th style="width: 25%">留言标题</th>
			<th style="width: 15%">添加时间</th>
			<th style="width: 10%">回复</th>
			<th style="width: 30%">留言内容</th>
			<th style="width: 5%">审核</th>
			<th style="width: 10%">操作</th>
		</tr>
	</thead>
	<tbody id="show_list">
		<{foreach from=$notes item=note}>
		<tr>
			<td style="width: 5%; text-align: center"><input type="checkbox" id="all" style="border: 0" value="<{$note.id}>" name="all[]" /></td>
			<td style="width: 25%"><{$note.id}><a href="?act=reply&id=<{$note.id}>"><{$note.title}></a></td>
			<td style="width: 15%; text-align: center"><{$note.addtime}></td>
			<td style="width: 10%; text-align: center"><{$note.replay}></td>
			<td style="width: 30%; text-align: center"><{$note.content}></td>
			<td style="width: 5%; text-align: center"><{$note.verify}></td>
			<td style="width: 10%; text-align: center">
				<a href="javascript:if(confirm('确定要删除么,删除后将不可恢复!')){location.href='?act=delete&lang=<{$lang}>&id=<{$note.id}>'"	style="padding: 0 3px;">删除</a>
				|<a	href="?act=reply&lang=<{$lang}>&id=<{$note.id}>" style="padding: 0 3px;">回复</a>
				|<a href="?act=show&id=<{$note.id}>">查看</a>
			</td>
		</tr>
		<{/foreach}>
	</tbody>
</table>
</div>
<div class="btn" style="margin-top: 8px; text-align: left;">
	<input type="hidden" value="<?php echo $id;?>" name="id" />
	<input type="hidden" value="<?php echo $lang;?>" name="lang" />
	<input type="button" name="all" value="全选" id="sl_all" style="margin: 0 10px 0 0;" class="go" />
	<input type="reset"	style="margin: 0 10px 0 0;" class="go" value="重置" name="reset" />
	<input type="button" onclick="javascript:this.form.action='?action=verify&lang=<?php echo $lang;?>';this.form.submit();" value="审核" name="verify" style="margin: 0 10px 0 0;" class="go" />
	<input type="button" onclick="javascript:if(confirm('确定要删除么,删除后将不可恢复!')){this.form.action='admin_book.php?action=del_all&lang=<?php echo $lang;?>';this.form.submit();}"value="删除" name="button" style="margin: 0 10px 0 0;" class="go" />
</div>
</form>
</div>
<!--内容切换-->

<div class="page">
<ul>
	<li><a href="guestbook.php?page=list&query=xxx&num=xxx&total=xxx">1</a></li>
	<li><a href="guestbook.php?page=list&query=xxx&num=xxx&total=xxx">2</a></li>
	<li><a href="guestbook.php?page=list&query=xxx&num=xxx&total=xxx">3</a></li>
	<li><a href="guestbook.php?page=list&query=xxx&num=xxx&total=xxx">4</a></li>
	<li><a href="guestbook.php?page=list&query=xxx&num=xxx&total=xxx">5</a></li>
</ul>
</div>

</body>
</html>
