<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
<script type="text/javascript">
/*
$(document).ready(function(){

	$('tbody').find('tr').hover(function(){
		$(this).css('background','#ccc');
	},function(){
		$(this).css('background','none');
	});
	
});
*/
</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="admin_admin.php">管理员管理</a> > 修改管理员</h2></div>
 <div class="lang"></div>
</div><!--导航-->
<form name="maininfo" method="post" enctype="multipart/form-data" action="admin_admin.php" class="form">
<div class="div_out" id="tb">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
	
		<tr>
		  <td style="width:15%;text-align:center" class="w1"><span title="不可重复,只能使用字母或数字" class="help">登录用户名：</span></td><td style="width:85%"><input name="admin_name" value="<?php echo $rel['admin_name'];?>" disabled="disabled" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">旧密码：</td><td style="width:85%"><input type="password" name="admin_password_ago" value="" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1"><span title="只能使用字母或数字及!@#$%字符" class="help">新密码：</span></td><td style="width:85%"><input type="password" name="admin_password" value="" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">确认新密码：</td><td style="width:85%"><input type="password" name="admin_password_tow" value="" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1"><span title="发布内容时使用" class="help">用户昵称：</span></td><td style="width:85%"><input name="admin_nich" value="<?php echo isset($rel['nich'])?$rel['nich']:'';?>" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">用户组：</td><td style="width:85%"><?php if(empty($admin_group)){ echo "还没有添加用户组"; }else{?><select name="admin_purview">
		  <?php 
		  foreach($admin_group as $k=>$v){
		  $sl="";
		  if($v['is_disable']){
		  	continue;
		  }
		  	if($rel['admin_purview']==$v['id']){
				$sl="selected=\"selected\"";
			}
		  	$str.="<option value=\"{$v['id']}\" {$sl}>{$v['admin_group_name']}</option>";
		  }
		  echo $str;
		  ?>
		  </select><?php }?><a href="admin_admin.php?action=add_admin_group" style="padding-left:5px;">添加管理员用户组</a></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">用户姓名：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><input name="admin_admin" value="<?php echo $rel['admin_admin'];?>" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">电子邮箱：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><input name="admin_mail" value="<?php echo $rel['admin_mail'];?>" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">联系电话：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><input name="admin_tel" value="<?php echo $rel['admin_tel'];?>" style="width:30%" /></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">是否禁用：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><input type="radio" name="is_disable" value="0" style="border:0" <?php if(!$rel['is_disable']){?>checked="checked"<?php }?> />开启<input type="radio" name="is_disable" value="1" style="border:0"  <?php if($rel['is_disable']){?>checked="checked"<?php }?>/>禁用</td>
		</tr>
		
	</tbody>
 </table>
 </div>
 <div class="btn" style="margin-top:10px">
<input type="hidden" name="action" value="save_admin_edit"/><input type="hidden" name="id" value="<?php echo $id;?>" />
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</body>
</html>
