<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加语言包</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript" src="template/images/form.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="admin_channel.php">频道管理</a> > <a href="admin_channel.php?action=fields&id=<?php echo $arr[0]['channel_id'];?>">字段管理</a> > 修改字段</h2></div>
</div><!--导航-->
<form name="maininfo" method="post" action="admin_channel.php" class="form">
<div class="div_out" id="tb">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="发布内容时显示的提示文字" class="help">提示文字：</span></td><td style="width:70%"><input name="use_name" value="<?php echo $arr[0]['use_name'];?>" style="width:50%" class="is_empyt" title="提示文字"/></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="存储数据使用，同一内容模型下不可重复,必须为英文,填写后不可更改" class="help">字段名称：</span></td><td style="width:70%"><input name="field_name" value="<?php echo $arr[0]['field_name'];?>" style="width:50%" disabled="disabled" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">字段类型：</td><td style="width:70%">
		  <p><input style="margin:0 5px; border:none" type="radio" name="field_type" value="text" <?php if($arr[0]['field_type']=='text'){?>checked="checked"<?php }?>/>文本框</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="textarea" <?php if($arr[0]['field_type']=='textarea'){?>checked="checked"<?php }?> />多行文本</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="html" <?php if($arr[0]['field_type']=='html'){?>checked="checked"<?php }?>/>html文本</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="upload_pic" <?php if($arr[0]['field_type']=='upload_pic'){?>checked="checked"<?php }?> />上传图片(单图)</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="upload_pic_more" <?php if($arr[0]['field_type']=='upload_pic_more'){?>checked="checked"<?php }?> />上传图片(多图)</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="upload_file" <?php if($arr[0]['field_type']=='upload_file'){?>checked="checked"<?php }?> />上传附件</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="select"  <?php if($arr[0]['field_type']=='select'){?>checked="checked"<?php }?>/>option下拉</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="radio" <?php if($arr[0]['field_type']=='radio'){?>checked="checked"<?php }?> />radio选项</p>
		  <p><input type="radio" style="margin:0 5px; border:none" name="field_type" value="checkbox" <?php if($arr[0]['field_type']=='checkbox'){?>checked="checked"<?php }?> />Checkbox多选</p>		  
		  </td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="选择radion,option,checkbox字段使用,分割;如a,b,c" class="help">字段默认值：</span></td><td style="width:70%">
		 <textarea name="field_value" style="width:50%; height:50px;"><?php echo $arr[0]['field_value'];?></textarea></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="说明将会出现在表单中，表单使用名下面" class="help">字段说明：</span></td><td style="width:70%">
		 <textarea name="field_info" style="width:50%; height:50px;"><?php echo $arr[0]['field_info'];?></textarea></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="字段排序,按排序输出" class="help">字段排序：</span></td><td style="width:70%">
		 <input name="field_order" value="<?php echo $arr[0]['field_order'];?>" style="width:20%" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="固定的字段不能单独删除" class="help">是否固定：</span></td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_del" value="0" <?php if($arr[0]['is_del']){echo"disabled=\"disabled\"";}elseif(!$arr[0]['is_del']){?>checked="checked"<?php }?>/>否<input type="radio" style="margin:0 5px; border:none" name="is_del" value="1"  <?php if($arr[0]['is_del']){?>disabled="disabled" checked="checked"<?php }?>/>是</td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">是否禁用：</td><td style="width:70%"><input style="margin:0 5px; border:none" type="radio" name="is_disable" value="0" <?php if(!$arr[0]['is_disable']){?>checked="checked"<?php }?>/>否<input type="radio" style="margin:0 5px; border:none" name="is_disable" value="1" <?php if($arr[0]['is_disable']){?>checked="checked"<?php }?> />是</td>
		</tr>
		
	</tbody>
 </table>
 </div>
 <div class="btn" style="margin-top:10px">
<input type="hidden" name="action" value="save_xg_field"/><input type="hidden" value="<?php echo $GLOBALS['id'];?>" name="id" /><input type="hidden" name="channel_id" value="<?php echo $arr[0]['channel_id'];?>" /><input type="hidden" name="field" value="<?php echo $arr[0]['field_name'];?>" />
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</body>
</html>
