<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<style type="text/css">
body{margin:20px;}
</style>
<script type="text/javascript">
$(document).ready(function(){

	$('tbody').find('tr').hover(function(){
		//$(this).css('background','#ccc');
	},function(){
		//$(this).css('background','none');
	});
	
});

</script>
</head>

<body>
<div class="div_out">
 <div class="position"><h2>当前位置 > <a href="admin_member.php">会员管理</a> > 查看会员</h2></div>
</div><!--导航-->
<form name="maininfo" method="post" enctype="multipart/form-data" class="form">
<div class="div_out" id="tb">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:15%">参数说明</th><th style="width:85%">参数值</th></tr>
	</thead>
	<tbody>
	
		<tr>
		  <td style="width:15%;text-align:center" class="w1">登录用户名：</td><td style="width:85%"><?php echo $rel[0]['member_user'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">用户昵称：</td><td style="width:85%"><?php echo $rel[0]['member_nich'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">用户组：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><?php if(empty($member_group)){ echo "还没有添加用户组"; }else{?><select name="member_purview" disabled="disabled">
		  <?php 
		  $str='';
		  foreach($member_group as $k=>$v){
		  	if($v['is_disable']){
				continue;
			}
			$ck=($v['id']==$rel[0]['member_purview'])?'selected="selected"':'';
		  	$str.="<option value=\"{$v['id']}\" {$ck}>{$v['member_group_name']}</option>";
		  }
		  echo $str;
		  ?>
		  </select><?php }?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">用户姓名：</td><td style="width:85%"><?php echo empty($rel[0]['member_name'])?"未填写":$rel[0]['member_name'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">性别：</td><td style="width:85%">
		  <?php 
		  if($rel[0]['member_sex']==0){
		  echo "保密";
		  }elseif($rel[0]['member_sex']==1){
		  echo "男";
		  }elseif($rel[0]['member_sex']==2){
		  echo "女";
		  }?>
		  </td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">出生日期：</td><td style="width:85%"><?php echo empty($rel[0]['member_birth'])?"未填写":$rel[0]['member_birth'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">电子邮箱:</td><td style="width:85%"><?php echo empty($rel[0]['member_mail'])?"未填写":$rel[0]['member_mail'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">固定电话：</td><td style="width:85%"><?php echo empty($rel[0]['member_tel'])?"未填写":$rel[0]['member_tel'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">手机：</td><td style="width:85%"><?php echo empty($rel[0]['member_phone'])?"未填写":$rel[0]['member_phone'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">QQ：</td><td style="width:85%"><?php echo empty($rel[0]['member_qq'])?"未填写":$rel[0]['member_qq'];?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">是否禁用：<p style="color:#999999; font-weight:normal"></p></td><td style="width:85%"><?php echo ($rel[0]['is_disable'])?"<span style=\"color:red\">锁定</span>":"正常";?></td>
		</tr>
		<tr>
		  <td style="width:15%;text-align:center" class="w1">注册时间：</td><td style="width:85%"><?php echo empty($rel[0]['member_addtime'])?'':date("Y-m-d H:m:s",$rel[0]['member_addtime']);?></td>
		</tr>
	</tbody>
 </table>
 </div>
</form>
</body>
</html>
