/*----------基本スタイル ここから------------*/

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "メイリオ","Verdana","ＭＳ ゴシック","Osaka",sans-serif;
	font-size: 77.5%;
	background: #f2f2f2 url(../images/common_files/background_header_line.gif) 0 0 repeat-x;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: bold;
}

p {
	line-height: 150%;
	margin: 10px 0;
}

ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 150%;
}

ul,dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

dt {
	margin: 0 0 10px 0;
	font-weight: bold;
}

li,dd {
	margin: 5px 0;
	padding: 0;
}

table {
	font-size: 100%;
}

td,th {
	line-height: 150%;
}

td li {
	margin: 0;
	padding: 0 0 0 15px;
	background: url(../images/pochi.gif) 0 50% no-repeat;
}

hr {
	display: none;
}

form {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

strong {
	color: #DB8915;
}

input,
textarea {
	font-family: "Verdana","ＭＳ ゴシック","Osaka",sans-serif;
}

a:link {
	color:#4E8413;
	text-decoration: none;
}

a:visited {
	color:#4E8413;
	text-decoration: none;
}

a:hover {
	color:#A8D35F;
	text-decoration: underline;
}

a:active {
	color:#A8D35F;
	text-decoration: underline;
}

/*----------基本スタイル ここまで------------*/

/*----------用クラス ここから------------*/

.monospace {
	font-family: monospace; /*等幅フォント*/
}

.hide {
	display: none;
}

.left {
	float: left;
	margin: 10px 10px 10px 0;
}

.right {
	float: right;
	margin: 10px 0 10px 10px;
}

.tLeft {
	text-align: left;
}

.tCenter {
	text-align: center;
}

.tRight {
	text-align: right;
}

img.middle {
	vertical-align: middle;
}

.mini {
	font-size: 85%;
	font-family: "Verdana","ＭＳ ゴシック","Osaka",sans-serif;
}

.clear {
	clear: both;
	font-size: 1px;
}

.help {
	padding: 5px 0 5px 20px;
	background: url(../images/top/icon_question.gif) 0 6px no-repeat;
}

.link {
	padding: 2px 0 2px 20px;
	background: url(../images/arrow_link.gif) 3px 4px no-repeat;
}

.prevLink {
	padding: 2px 0 2px 10px;
	background: url(../images/arrow_prev.gif) no-repeat 0 50%;
}

.nextLink {
	padding: 2px 10px 2px 0;
	background: url(../images/arrow_next.gif) no-repeat 100% 50%;
}

.open {
	display: block;
}

.close {
	display: none;
}

.key {
	text-decoration: underline;
}

/*----------共通レイアウト------------*/

#wrapperAll {
	width: 800px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

h1 {
	width: 100%;
	height: 60px;
	padding: 0 0 10px 0;
}

#editedCount {
	width: 160px;
	height: 130px;
	margin: 0;
	background: url(../images/top/background_edited_count.gif) 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

#editedCount span {
	display: block;
	width: 120px;
	height: 18px;
	margin: 37px auto 0 auto;
	text-align: center;
}

#globalNavi {
	width: 560px;
	margin: 0;
	position: absolute;
	top: 70px;
	left: 21px;
}

#globalNavi li {
	display: inline;
	margin: 0;
	padding: 0 8px;
	border-right: 1px solid #666;
	line-height: 30px;
}

#globalNavi li#siteHome {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}


#language {
	width: 200px;
	margin: 0;
	position: absolute;
	text-align: right;
	top: 7px;
	left: 580px;
}

#language li {
	float: left;
	width: 21px;
	height: 14px;
	margin: 0;
	padding: 0 0 4px 4px;
}

#language li img {
	display: block;
	height: 14px;
}

#sbs {
	width: 450px;
	margin: 0;
	position: absolute;
	text-align: right;
	top: 37px;
	left: 330px;
}

#sbs li {
	display: inline;
	margin: 0;
	padding: 0 0 0 2px;
}

#sbs li img {
	vertical-align: bottom;
}

#amazonLink,
#pr {
	position: absolute;
	top: 62px;
	left: 580px;
	width: 220px;
	height: 181px;
	z-index: 3;
}

#amazonLink p,
#pr p {
	width: 220px;
	height: 181px;
	margin: 0;
}

h2 {
	width: 100%;
	height: 100px;
	padding: 30px 0 0 0;
	background: url(../images/common_files/background_title.gif) 0 100% repeat-x;
}

.content {
	float: left;
	width: 760px;
	padding: 20px;
}

#translate h3 {
	margin: 20px 0;
}

#translate .description {
	width: 450px;
	margin: 20px auto;
}


#google {
	width: 728px;
	margin: 50px auto 20px auto;
}

#ad {
	margin: -10px 0 30px 0;
}

#donate {
	margin: 25px 0 15px 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #999;
}

#donate input {
	vertical-align: middle;
}

#footer {
	clear: both;
	width: 100%;
	padding: 10px 0;
	background: #f2f2f2;
	border-top: 2px solid #fff;
}

#footer p {
	font-size: 85%;
	margin: 0;
}
