<div class="left_contain">
 <h2 rel="id1_ul"><p {if $act=='main'}class="focus"{/if}><span><a href="member.php?action=main&lang={print $lang/}">{print $language['member_home']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='info'}class="focus"{/if}><span><a href="member.php?action=info&lang={print $lang/}">{print $language['member_info']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='add_ask'}class="focus"{/if}><span><a href="member.php?action=add_ask&lang={print $lang/}">{print $language['member_ask_add']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='ask'}class="focus"{/if}><span><a href="member.php?action=ask&lang={print $lang/}">{print $language['member_ask_manage']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='coll'}class="focus"{/if}><span><a href="member.php?action=coll&lang={print $lang/}">{print $language['member_fav']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='password'}class="focus"{/if}><span><a href="member.php?action=password&lang={print $lang/}">{print $language['member_msg54']/}</a></span></p></h2>
 <h2 rel="id1_ul"><p><span><a href="member.php?action=out&lang={print $lang/}">{print $language['member_out']/}</a></span></p></h2>
</div>